<section id="services">
    <div class="container">
        <div class="row">
            <h1>Вопросы и ответы</h1>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h3 class="section-heading">
                                Что нужно сделать для получения гарантийного обслуживания моего устройства?
                        </h3>
                        <div class="lead">
                                Для получения возможного гарантийного обслуживания ЛЮБОГО устройства Apple необходимо предоставить это устройство в сервисный
                            центр (СЦ) для проведения диагностики. Мы принимаем устройства БЕЗ упаковки. На устройстве должна быть отключена функция
                            «найти мой айфон» (если это применимо к данному типу устройства). Также рекомендуется сделать резервную копию данных. Возможность
                            гарантийного обслуживания определяется ТОЛЬКО по результатам диагностики. В редких случаях могут потребоваться документы,
                            подтверждающие покупку.
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h3 class="section-heading">
                            Моё устройство не включается/не заряжается/глючит/работает медленно/попало в воду и т.п. Сколько будет стоить ремонт?
                        </h3>
                        <div class="lead">
                            Мы не производим дистанционную диагностику устройств. Также мы не обладаем даром предвидения. Заключение о возможности и
                            стоимости ремонта делается ТОЛЬКО ПОСЛЕ диагностических работ, проведённых в НАШЕМ АСЦ.
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h3 class="section-heading">
                            Сколько стоит замена запчасти / замена устройства?
                        </h3>
                        <div class="lead">
                            Ответ на подобный вопрос Вы получите только в том случае, если предоставите серийный номер неисправного устройства.
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h3 class="section-heading">
                            Как долго длится обслуживание?
                        </h3>
                        <div class="lead">
                            Диагностика занимает, в среднем, 1-2 рабочих дня (в зависимости от сложности случая и загрузки сервисного центра). В целом
                            (от сдачи оборудования до выдачи), обслуживание занимает, в среднем, около 2-3 рабочих дней (бывает — быстрее, бывает — несколько
                            дольше).
                        </div>
                    </div>
                </div>
            </div>
            <div class="container">
                <div class="row">
                    <div class="col-lg-12">
                        <hr class="section-heading-spacer">
                        <div class="clearfix"></div>
                        <h3 class="section-heading">
                             Выдаете ли вы заключения?
                        </h3>
                        <div class="lead">
                            Да, выдаем. Эта услуга платная. Стоимость ее — от 1500 до 2000 рублей.
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
